[run]
parallel = true
branch = true
source = os_scrapy_httpproxy_middleware

[paths]
source =
    os_scrapy_httpproxy_middleware
    .tox/*/lib/python*/site-packages/os_scrapy_httpproxy_middleware
    .tox/*/site-packages/os_scrapy_httpproxy_middleware
